<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="co.mawen.majiangcommunity.mapper.QuestionMapper">

    <resultMap id="question_user_map" type="question">
        <id column="id" property="id"></id>
        <result property="title" column="title"></result>
        <result column="comment_count" property="commentCount"></result>
        <result column="creator" property="creator"></result>
        <result column="gmt_modified" property="gmtModified"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="like_count" property="likeCount"></result>
        <result column="tag" property="tag"></result>
        <result column="description" property="description"></result>
        <result column="view_count" property="viewCount"></result>
        <association property="user" column="creator" javaType="User">
            <result property="accountId" column="account_id"></result>
            <result property="name" column="name"></result>
            <result property="bio" column="bio"></result>
            <result property="avatarUrl" column="avatar_url"></result>
        </association>
    </resultMap>


    <insert id="insert" parameterType="Question">
        INSERT INTO question(title,description,tag,creator,gmt_create,gmt_modified)VALUES
        (#{title},#{description},#{tag},#{creator},#{gmtCreate},#{gmtModified})
    </insert>
    
    <select id="list" resultType="Question">
        SELECT * FROM question
    </select>

    <select id="list_user" resultMap="question_user_map" parameterType="Map" >
       SELECT q.* ,u.avatar_url,u.name,u.bio,u.account_id FROM question q LEFT OUTER JOIN user u ON q.creator=u.account_id ORDER BY q.id DESC LIMIT #{offset},#{size}
    </select>


    <select id="list_creator" resultMap="question_user_map" parameterType="Map" >
       SELECT q.* ,u.avatar_url,u.name,u.bio,u.account_id FROM question q LEFT OUTER JOIN user u ON q.creator=u.account_id WHERE q.creator=#{creator} LIMIT #{offset},#{size}
    </select>
    <!--测试pageHelper-->
    <select id="unionList" resultMap="question_user_map" parameterType="int" >
       SELECT q.* ,u.avatar_url,u.name,u.bio,u.account_id FROM question q LEFT OUTER JOIN user u ON q.creator=u.account_id WHERE q.creator=#{creator}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(1) FROM question
    </select>

    <select id="countByCreator" resultType="int">
        SELECT COUNT(1) FROM question WHERE creator=#{creator}
    </select>

    <select id="getUnionQuestionById" parameterType="int" resultMap="question_user_map">
       SELECT q.* ,u.avatar_url,u.name,u.bio,u.account_id FROM question q LEFT OUTER JOIN user u ON q.creator=u.account_id WHERE q.id=#{id}
    </select>

    <update id="update" parameterType="Question">
        UPDATE question SET title=#{title},description=#{description},tag=#{tag} WHERE id=#{id}
    </update>
</mapper>