<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="side">



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side" style="margin-top: 10px" >
        <h4><img src="/images/find1.png" width="35px" height="30px" style="margin-left: -3px;margin-right: 1px;
        margin-bottom: 6px;margin-top: -5px;">每日发现</h4>
        <!--轮播图-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000"
             style="  display:inline-block;">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" >
                <div class="item active"  th:each="ad,stat : ${#httpServletRequest.getServletContext().getAttribute('INDEX_SIDE')}"
                     th:class="${stat.count==1?'item active':'item'}">
                    <a th:href="${ad.url}"
                       target="_blank">
                        <img class="img-thumbnail question-wechat" th:src="${ad.image}">
                    </a>
                </div>

            </div>

        </div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side" style="margin-top: 10px" >
        <!--轮播图-->
        <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel" data-interval="4000"  style="  display:inline-block;">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" >
                <div class="item active"  th:each="ad,stat : ${#httpServletRequest.getServletContext().getAttribute('INDEXSIDE2')}"
                     th:class="${stat.count==1?'item active':'item'}">
                    <a th:href="${ad.url}"
                       target="_blank">
                        <img class="img-thumbnail question-wechat" th:src="${ad.image}">
                    </a>
                </div>

            </div>

        </div>
    </div>
<!--    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side"
         th:if="${#lists.size(#httpServletRequest.getServletContext().getAttribute('SIDE')) == 0}">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        &lt;!&ndash; 侧边栏广告位 &ndash;&gt;
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9804684553882114"
             data-ad-slot="2615744269"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>-->
</div>
</body>
</html>
