<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}" >

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}" >

    <!-- 自定义样式 -->
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/community.css}" >

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}" ></script>
</head>

<body>

<!--顶部导航条-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">黑熊噗通社区</span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">黑熊噗通社区</a>
        </div>

        <!-- 搜索框 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <!--登录链接 -->
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="/publish">提问</a>
                </li>
                <li><a href="/profile/replies">通知 <span class="badge" th:text="${session.unreadCount}"></span></a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span th:text="${session.user.getName()}"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">我的问题</a></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}">
                    <a th:href="@{https://github.com/login/oauth/authorize(client_id='f4e182db283dfd9e81ac',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('redirectUri')},scope='user',state=1)}">登录</a>
                </li>

            </ul>


        </div>
    </div>
</nav>
<!--顶部导航条结束-->

<!--话题-->
<div class="container-fluid main" >
    <div class="row">
        <!--左边-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <!--问题列表-->
            <div class="media" th:each="question : ${pagination.dataList}">
                <!--user-->
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="" th:src="${question.getUser().getAvatarUrl()}" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" style="color: #337ab7" th:text="${question.title}">问题标题！！！</h4>
<!--                    <div th:text="${question.description}" style="color: #337ab7"></div>-->
                    <span class="text-color-999">
                        <span th:text="${question.user.name}"></span>发起了问题
                        • <span th:text="${question.likeCount}"></span> 人关注
                        • <span th:text="${question.commentCount}"></span> 个回复
                        • <span th:text="${question.viewCount}"></span> 次浏览
                        • <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd  HH:mm:ss')}"></span>
                    </span>
                </div>
                <!--分割线-->
                <br>
                <div style="width:100%; height:2px; border-top:1px solid #F4F4F4; clear:both;"></div>

            </div>


            <!--分页导航条开始-->

            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination">

                    <li th:if="${pagination.showFirstPage}">
                        <a href="" th:href="@{/(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>

                    <li th:if="${pagination.showPrevious}">
                        <a href="" th:href="@{/(page=${pagination.page}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pagination.pages}"  th:class="${pagination.page==page}?'active'">
                        <a href="#" th:href="@{/(page=${page})}" th:text="${page}">1</a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a href="#" th:href="@{/(page=${pagination.page}+1)}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <li th:if="${pagination.showEndpage}">
                        <a href="#" th:href="@{/(page=${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!--分页导航条结束-->

        </div>

        <!--右边，热门话题-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="border-left: 1px solid #e6e6e6;">
            <h2>热门话题</h2>

        </div>
    </div>





</div>
<!--发起问题结束-->



</body>
</html>