<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>


<!--引入js-->
<script src="" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <!--引入js-->
<script src="" th:src="@{/js/community.js}"></script>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" >

<!-- 自定义样式 -->
<link rel="stylesheet" th:href="@{/css/community.css}" >

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{/js/bootstrap.js}" ></script>
<script src="" th:src="@{/js/moment.js}"></script>

    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>


</head>

<body>

<div th:include="~{navigation::nav}"></div>

<!--话题-->
<div class="container-fluid main" >

<div class="container-fluid main profile">
<div class="row">

<!--左边主要内容-->
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px">
    <!--正文-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="question-title"><span th:text="${question.title}"></span></h4>
        <span class="text-desc" style="font-size: 12px; font-weight: normal;color: #999;">
    作者：<span th:text="${question.user.name}"></span> |
    发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
    阅读数： <span th:text="${question.viewCount}"></span>
</span>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

   <!--     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-header"
             th:if="${!#lists.isEmpty(#httpServletRequest.getServletContext().getAttribute('HEADER'))}"
             th:each="ad : ${#httpServletRequest.getServletContext().getAttribute('HEADER')}">
            <a th:href="${ad.url}" th:text="${ad.title}" target="_blank"
               style="color: #A00;font-weight: bold;"></a>
            <img src="/images/hot.png"/>
        </div>-->

        <!--内容-->

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
            <textarea style="display:none;" th:text="${question.description}"></textarea>
        </div>
        <script type="text/javascript">
            $(function () {
                editormd.markdownToHTML("question-view", {});
            });
        </script>
<!--
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
             th:if="${!#lists.isEmpty(#httpServletRequest.getServletContext().getAttribute('FOOTER'))}"
             th:each="ad : ${#httpServletRequest.getServletContext().getAttribute('FOOTER')}">
            <a th:href="${ad.url}" th:text="${ad.title}" target="_blank"
               style="color: #A00;font-weight: bold;"></a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width: 100%;"
             th:if="${#lists.isEmpty(#httpServletRequest.getServletContext().getAttribute('FOOTER'))}">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            &lt;!&ndash; 页尾广告 &ndash;&gt;
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9804684553882114"
                 data-ad-slot="4772323686"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>-->

        <!--标签-->
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 5px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="question-tag" th:each="tag : ${question.tag.split(',')}">
            <a th:href="@{/(page=1,tag=${tag})}"
               th:text="${'「'+tag+'」'}" class=" community-tag glyphicon glyphicon-tags"></a>
        </span> 
        </div>

        <!--编辑-->
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
               th:if="${session.user != null && session.user.id == question.creator}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 13px; font-weight: normal;color: #999;">编辑</span>
            </a>
        </div>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    </div>

    <!--回复-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>
            <span th:text="${question.commentCount}"></span> 个回复
        </h4>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment :${pageInfo.list}">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${comment.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body" th:id="${'comment-body-'+comment.id}" style=" padding-top: 1px;">
                    <h5 class="media-heading">
                        <span th:text="${comment.user.name}"></span>
                    </h5>
                    <!--markdown回复-->
                    <div th:text="${comment.content}"></div>
                    <div class="menu">
                        <span class="glyphicon glyphicon-thumbs-up icon"></span>
                        <span th:data-id="${comment.id}"
                              onclick="collapseComments(this)" class="comment-icon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                 <span th:text="${comment.commentCount}"></span>
                                </span>
                        <span class="pull-right"
                              th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                    </div>



                    <!-- 二级评论,折叠内容！-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                         th:id="${'comment-'+comment.id}">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control" placeholder="评论一下……"
                                   th:id="${'input-'+comment.id}">
                            <button type="button" class="btn btn-success pull-right" onclick="comment(this)"
                                    th:data-id="${comment.id}">评论
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--分页导航条开始-->
    <nav aria-label="Page navigation " style="float:right;" th:if="${pageInfo.pages}>1">
        <ul class="pagination pagination-sm" style="margin-top: 0;margin-bottom: 0">

            <li th:if="${not pageInfo.isFirstPage and pageInfo.pages>4}">
                <a href="" th:href="@{/question/{id}(page=1,id=${question.id})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>

            <li th:if="${pageInfo.hasPreviousPage }">
                <a href="" th:href="@{/question/{id}(page=${pageInfo.pageNum}-1,id=${question.id})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page : ${pageInfo.navigatepageNums}"  th:class="${pageInfo.pageNum==page}?'active'">
                <a href="#" th:href="@{/question/{id}(page=${page},id=${question.id})}" th:text="${page}">1</a>
            </li>

            <li th:if="${pageInfo.hasNextPage }">
                <a href="#" th:href="@{/question/{id}(page=${pageInfo.pageNum}+1,id=${question.id})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li th:if="${not pageInfo.isLastPage and pageInfo.pages>4}">
                <a href="#" th:href="@{/question/{id}(page=${pageInfo.pages},id=${question.id})}" aria-label="Next">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>

    <!--分页导航条结束-->


    <!--回复输入框-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>
            提交回复
        </h4>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${session.user != null ? session.user.avatarUrl : '/images/default-avatar.png'}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        <span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span>
                    </h5>
                </div>
            </div>
            <input type="hidden" id="question_id" th:value="${question.id}">
            <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
            <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
        </div>
    </div>



</div>

<!--右边信息块-->
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style=" border-left: 1px solid #F0F0F0;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>发起人</h4>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-rounded"
                         th:src="${question.user.avatarUrl}">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading">
                    <span th:text="${question.user.name}"></span>
                </h5>
            </div>
        </div>
    </div>

    <!--码问官方公众号-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side" style="margin-top: 40px">
        <h4>官方微信</h4>
        <img class="img-thumbnail question-wechat" src="/images/official-account.png">
    </div>
<!--                <div th:insert="~{notice :: notice}"></div>-->
<!--                <div th:insert="~{side :: side}"></div>-->
    <!--相关问题-->
    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>相关问题</h4>
        <ul class="question-related">
            <li th:each="related : ${relatedQuestions}">
                <a th:href="@{'/question/'+ ${related.id}}" th:text="${related.title}"></a>
            </li>
        </ul>
    </div>
</div>
</div>
</div>





</div>
<!--发起问题结束-->


<div class="footer">Copyright © 2020  ICP备000000号 · 服务器赞助: <a href="https://passport.ucloud.cn/?invitation_code=nmtbj0lvttvx&ytag=re01B1">UCloud</a> · All Rights Reserved Powered By <a href="http://www.seven.co" target="_blank"> 涩问社区 </a></div>
</body>
</html>