<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.mawen.majiangcommunity.mapper.QuestionExtMapper">


  <resultMap id="BaseResultMap" type="co.mawen.majiangcommunity.model.Question">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <association property="user" resultMap="userMap" column="creator"></association>
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="co.mawen.majiangcommunity.model.Question">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>

  <resultMap id="userMap" type="User">
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="bio" jdbcType="VARCHAR" property="bio" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
  </resultMap>

  <update id="incView" parameterType="Question">
    UPDATE question SET view_count=view_count + #{viewCount} WHERE id=#{id}
  </update>

  <update id="incCommentCount" parameterType="Question">
    UPDATE question SET comment_count=comment_count + #{commentCount} WHERE id=#{id}
  </update>

  <select id="selectRelatedQues" parameterType="Question" resultType="Question">
    select id,title from question where tag regexp #{tag} AND id !=#{id} ORDER BY view_count DESC LIMIT 0,14;
  </select>
  <!--根据条件查找总数-->
  <select id="countBySearch" parameterType="co.mawen.majiangcommunity.dto.QuestionQueryDTO" resultType="Long">
        SELECT COUNT(*) FROM question
        <where>
          <if test="search!=null">
            AND TITLE regexp #{search}
          </if>
        </where>
  </select>

  <select id="selectBySearch" parameterType="co.mawen.majiangcommunity.dto.QuestionQueryDTO" resultMap="BaseResultMap">
    SELECT * FROM question q INNER JOIN user u ON q.creator=u.id
    <where>
      <if test="search!=null">
        AND TITLE regexp #{search}
      </if>
    </where>
    ORDER BY q.gmt_create DESC LIMIT #{offset},#{size}
  </select>
</mapper>